.app-container{
    width: 100%;
    height: 100%;
}

:global {
    #root {
        height: 100%;
    }
    body {
        overflow: hidden;
    }

    .pageSwap-leave {
        transform: translate3d(0, 0, 0);
    }

    .pageSwap-leave.pageSwap-leave-active {
        transform: translate3d(-100%, 0, 0);
        transition: all ease-out 200ms;
    }

    .pageSwap-enter {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translate3d(100%, 0, 0);
    }

    .pageSwap-enter.pageSwap-enter-active {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translate3d(0, 0, 0);
        transition: all ease-out 200ms;

    }

    .reversePageSwap-leave {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        transform: translate3d(0, 0, 0);
    }

    .reversePageSwap-leave.reversePageSwap-leave-active {
        transform: translate3d(100%, 0, 0);
        transition: all ease-out 200ms;
    }

    .reversePageSwap-enter {
        transform: translate3d(-100%, 0, 0);
    }

    .reversePageSwap-enter.reversePageSwap-enter-active {
        transform: translate3d(0, 0, 0);
        transition: all ease-out 200ms;
    }

}