.page {
  .add-position {
    position: absolute;
    right: 10px;
    width: 45px;
    height: 45px;
  }

  .order-header {
    font-size: 2.4rem;
  }

  .positions {
    top: 64px;
    position: relative;
    width: calc(100% - 250px);
    float: left;
  }

  .price-details {
    position: relative;;
    width: 250px;
    top: 64px;
    float: right;
  }
}
