.supplier-menu {
  top: 64px;
  position: relative;

  .dish {
    width: 100%;
    padding: 10px;

    .name {
      width: 100%;
      display: inline-block;
      font-size: 2rem;
    }
  }

  .dish:nth-child(even) {
    background-color: #f9f9f9;
  }
}
